html {
  min-height: 100vh;
  width: 100%; }
  html body {
    margin: 0; }

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(#465BC7, #243171); }
  .App .counter-container {
    -moz-box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.16);
    -o-box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.16);
    width: 670px;
    min-height: 750px;
    margin: auto;
    background: white;
    border-radius: 5px;
    position: relative; }
    .App .counter-container .exit {
      position: absolute;
      top: -45px;
      right: -35px;
      bottom: auto;
      left: auto;
      width: 25px;
      cursor: pointer; }
    .App .counter-container .trace {
      width: 100%;
      height: 7px;
      position: absolute;
      top: -9px;
      right: auto;
      bottom: auto;
      left: 0;
      background: #6b7bc9; }
      .App .counter-container .trace .content {
        width: 408px;
        height: inherit;
        background-color: #250a4d; }
    .App .counter-container .counter-content {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .App .counter-container .counter-content .head {
        -moz-box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.16);
        -o-box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.16);
        box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 48px;
        background-color: #6100ED;
        border-radius: 4px; }
        .App .counter-container .counter-content .head span {
          margin: 0;
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          font-weight: 500;
          text-align: left;
          color: white;
          letter-spacing: 1.6px;
          margin-left: 17px;
          cursor: pointer; }
        .App .counter-container .counter-content .head p {
          margin: 0;
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          font-weight: 500;
          text-align: left;
          color: white;
          margin: 0 17px 0 auto;
          cursor: pointer;
          letter-spacing: 1.6px; }
      .App .counter-container .counter-content .result {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 181px;
        margin-top: 38px; }
        .App .counter-container .counter-content .result p {
          margin: 0;
          font-family: "Roboto", sans-serif;
          font-size: 150px;
          font-weight: 700;
          text-align: center;
          color: #6100ED; }
      .App .counter-container .counter-content .operation {
        display: flex;
        align-items: center;
        justify-content: center;
        -moz-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
        -o-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
        margin-top: 31px;
        border-radius: 4px;
        flex-direction: column;
        width: 328px; }
        .App .counter-container .counter-content .operation .op {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 48px;
          width: calc(100% - 34px);
          padding: 0 17px;
          cursor: pointer;
          background-color: white; }
          .App .counter-container .counter-content .operation .op p {
            margin: 0;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: normal;
            text-align: left;
            color: rgba(0, 0, 0, 0.87);
            letter-spacing: .3px; }
          .App .counter-container .counter-content .operation .op img {
            margin-left: auto;
            width: 17.5px; }
          .App .counter-container .counter-content .operation .op:hover {
            background-color: rgba(0, 0, 0, 0.1); }
        .App .counter-container .counter-content .operation .selected {
          background-color: rgba(0, 0, 0, 0.1); }
      .App .counter-container .counter-content .input-container {
        margin-top: 55px;
        width: 328px; }
        .App .counter-container .counter-content .input-container .custom-button {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 56px;
          margin-bottom: 50px;
          width: 100%;
          line-height: 45px;
          border-radius: 4px; }
          .App .counter-container .counter-content .input-container .custom-button p {
            -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
            -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
            margin: 0;
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            font-weight: 500;
            text-align: center;
            color: white;
            border-radius: 4px;
            letter-spacing: 1.5px;
            background-color: #6100ED;
            width: 116px;
            border: none;
            height: 45px;
            cursor: pointer; }
      .App .counter-container .counter-content .error-container {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .App .counter-container .counter-content .error-container p {
          margin: 0;
          font-family: "Roboto", sans-serif;
          font-size: 12px;
          font-weight: 400;
          text-align: center;
          color: red;
          width: 100%; }

/*# sourceMappingURL=App.css.map */
