@import "_mixins.scss";

html {
  min-height: 100vh;
  width: 100%;

  body {
    margin: 0
  }
}

.App {
  @include ioteamFlex(center, center);
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(#465BC7, $secondary);

  .counter-container {
    @include ioteamBoxshadow(3px, 3px, 2px, rgba(0, 0, 0, .16));
    width: 670px;
    min-height: 750px;
    margin: auto;
    background: white;
    border-radius: 5px;
    position: relative;

    .exit {
      @include ioteamAbsolute(-45px, -35px, auto, auto);
      width: 25px;
      cursor: pointer;
    }

    .trace {
      width: 100%;
      height: 7px;
      @include ioteamAbsolute(-9px, auto, auto, 0);
      background: #6b7bc9;

      .content {
        width: 408px;
        height: inherit;
        background-color: rgb(37, 10, 77);
      }
    }

    .counter-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .head {
        @include ioteamBoxshadow(0px, 6px, 10px, rgba(0, 0, 0, .16));
        @include ioteamFlex(center, center);
        width: 100%;
        height: 48px;
        background-color: $primary;
        border-radius: 4px;

        span {
          @include ioteamText(14px, 500, left, white);
          letter-spacing: 1.6px;
          margin-left: 17px;
          cursor: pointer;
        }

        p {
          @include ioteamText(14px, 500, left, white);
          margin: 0 17px 0 auto;
          cursor: pointer;
          letter-spacing: 1.6px;
        }
      }

      .result {
        @include ioteamFlex(center, center);
        height: 181px;
        margin-top: 38px;

        p {
          @include ioteamText(150px, 700, center, $primary);
        }
      }

      .operation {
        @include ioteamFlex(center, center);
        @include ioteamBoxshadow(0px, 1px, 3px, rgba(0, 0, 0, .2));
        margin-top: 31px;
        border-radius: 4px;
        flex-direction: column;
        width: 328px;

        .op {
          @include ioteamFlex(center, center);
          height: 48px;
          width: calc(100% - 34px);
          padding: 0 17px;
          cursor: pointer;
          background-color: white;

          p {
            @include ioteamText(16px, normal, left, rgba(0, 0, 0, .87));
            letter-spacing: .3px;
          }

          img {
            margin-left: auto;
            width: 17.5px;
          }

          &:hover {
            background-color: rgba(0, 0, 0, .1);
          }
        }

        .selected {
          background-color: rgba(0, 0, 0, .1);
        }
      }

      .input-container {
        margin-top: 55px;
        width: 328px;

        .custom-button {
          @include ioteamFlex(center, center);
          margin-top: 56px;
          margin-bottom: 50px;
          width: 100%;
          line-height: 45px;
          border-radius: 4px;

          p {
            @include ioteamBoxshadow(0, 1px, 3px, rgba(0, 0, 0, 0.2));
            @include ioteamText(17px, 500, center, white);
            border-radius: 4px;
            letter-spacing: 1.5px;
            background-color: $primary;
            width: 116px;
            border: none;
            height: 45px;
            cursor: pointer;
          }
        }
      }

      .error-container {
        margin-top: 50px;
        @include ioteamFlex(center, center);

        p {
          @include ioteamText(12px, 400, center, red);
          width: 100%;
        }
      }
    }
  }
}
